ul {
  li {
    a {
      background: url('/images/css/bg-navigation.png') 0 0 no-repeat;
    }

    a.current {
      background: url('/images/css/bg-navigation-active.png') 0 0 no-repeat;
    }
  }
}

div.page {
  .content {
    p, ul li {
      span {
        background: transparent url('/images/css/bg-text.png');
      }
    }
  }
}

#page-seven {
  form {
    background: transparent url('/images/css/bg-text.png');
  }
}

