@import "compass";
@import "compass/css3/font-face";
@include font-face("Quicksand Light", font-files("/fonts/quicksand/Quicksand_Light.otf", opentype));

$link-color:         #353535;
$link-hover-color:   #444;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #fff;
$font-family: 'Quicksand Light';
$base-font-size:   36px;
$base-line-height: 150%;

@include global-reset;

html, body {
  height: 100%;
}

body {
  font-family: $font-family;
  color: $font-color;
  font-size: $base-font-size;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

.loading {
  background: url('/images/spinner.gif') 50% 50% no-repeat;
}

ul {
  /* float: right; */
  position: fixed;
  top: 20px;
  right: 75px;

  li {
    float: left;
    margin-right: 20px;
  }
}

div.page {
  display: table;
  height: 100%;

  img {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;

    p {
      margin: 0 auto 25px auto;
      width: 70%;

      span {
        background: rgba(0, 0, 0, 0.5);
        line-height: 200%;
        padding: 10px 0;
        text-shadow: 1px 2px #000
      }
    }
  }
}

#page-one {
}

#page-two {
}

#page-three {
}

#page-four {
}
